.nav {
    background-color: #360d3a;
    height: 72px;
    width: 100%;
}
.nav-container {
    /* outline: 1px solid red; */
    height: 100%;
    width: 90%;
}

.logo {
    all: unset;
    padding-top: 10px;
    height: 45px; 
    width: 45px;
    vertical-align: auto!important;
    /* outline: 1px solid red; */
    float: right !important;
    margin-top: -15px !important;
    
}