body {
  margin: auto;
  position: relative; 
  top: 72px;
  /* padding-top: 8%; */
  font-size: 1.4rem;
  font-family: 'PremierSans-Regular', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
